$board--img: "board.png";
$board--width: image-width($board--img);
$board--height: image-height($board--img);
$board__fg--img: "board__fg.png";

.board {
  position: absolute;
  width: 100%;
  height: 100%;
}
  .board__tiles {
    position: absolute;
    top: 50px;
    right: 10px;
    bottom: 20px;
    left: 10px;
    border: 1px solid #ccc;
  }

// @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
// only screen and (min--moz-device-pixel-ratio: 1.5),
// only screen and (-o-device-pixel-ratio: 3/2),
// only screen and (min-device-pixel-ratio: 1.5) {
//   $board--img: "board@2x.png";
//   $board__fg--img: "board__fg@2x.png";
//   .board {
//     background: inline-image($board--img) no-repeat;
//   }
//   .board__fg {
//     background: inline-image($board__fg--img) no-repeat;
//   }
// }
