 $image: "tile.png";

.tile {
  position: absolute;
  font-size: 2em;
  line-height: 2.25;
  text-align: center;
  text-shadow: 0 1px 0 #000;
  color: rgba(255,255,255,.4);
  background: inline-image($image) 0 0 no-repeat;
  width: image-width($image);
  height: image-height($image);
  @include background-size(image-width($image), image-height($image));

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    content: "";
  }

  &.tile_1:after {
    background-color: #fa1c00;
  }
  &.tile_2:after {
    background-color: #2474ab;
  }
  &.tile_3:after {
    background-color: #8d0268;
  }
  &.tile_4:after {
    background-color: #fdc430;
  }
}
.tile_empty {
  visibility: hidden;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .tile {
    background: inline-image("tile@2x.png") 0 0 no-repeat;
  }
}
