$dimension: 59px;

@-webkit-keyframes glow {
  50% {
    opacity: .5;
  }
}

.tile {
  position: absolute;
  width: $dimension;
  height: $dimension;
  border-radius: 7px;
  box-shadow:
    0 0 0 1px rgba(#000, .2) inset,
    0 0 0 5px rgba(#fff, .35) inset;
  -webkit-transition:
    -webkit-transform 125ms ease-in-out;

  &.tile_dragging {
    -webkit-transition: none;
  }

  &.tile_removing {
    opacity: 0;
    -webkit-transition:
      opacity .375s .125ms ease-in-out,
      -webkit-transform .5s ease-in-out;
  }

  // Empty tile
  &.tile_0 {
    visibility: collapse;
  }
  &.tile_1 {
    background-color: rgba(#fa1c00, .75);
  }
  &.tile_2 {
    background-color: rgba(#2474ab, .75);
  }
  &.tile_3 {
    background-color: rgba(#8d0268, .75);
  }
  &.tile_4 {
    background-color: rgba(#fdc430, .75);
  }
  &.tile_5 {
    background-color: rgba(#5dc15d, .75);
  }
}
.tile_justAdded {
  -webkit-animation: glow 1.5s infinite linear;
}
