{
  "extends": "airbnb",
  "parser": 'babel-eslint',
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "commonjs": true
  },
  "rules": {
    "max-len": [
      2,
      120
    ],
    "semi": [
      2,
      "never"
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "comma-dangle": [
      2,
      "never"
    ],
    "quotes": [
      2,
      "single"
    ]
  }
}
