 $image: "tile.png";

.tile {
  position: absolute;
  margin: 1px;
  font: 2em/2.5 SpecialElite;
  text-align: center;
  text-shadow: 0 2px 0 #000;
  color: rgba(255,255,255,.4);
  background: image-url($image) 0 0 no-repeat;
  width: image-width($image);
  height: image-height($image);
}
.tile_empty {
  visibility: hidden;
}

@media only screen and (device-pixel-ratio: 2) {
  $image: "tile@2x.png";
  .tile {
    background: image-url($image) 0 0 no-repeat;
  }
}
