.tile {
  $image: "tile.png";
  position: absolute;
  margin: 1px;
  font: 4.5em/1.95 SpecialElite;
  text-align: center;
  text-shadow: 0 2px 0 #000;
  color: rgba(255,255,255,.4);
  background: image-url($image) 0 0 no-repeat;
  width: image-width($image);
  height: image-height($image);
}
.tile_empty {
  visibility: hidden;
}
