/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";

$legacy-support-for-ie: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-khtml: false;

body {
  background: image-url("bg.png");
  font-family: "Helvetica Neue", sans-serif;
  color: #fff;
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
}

#gameview {
  position: relative;
  width: 640px;
  height: 960px;
  
  .b-board_fg {
    position: absolute;
    background: image-url("fg.png");
    z-index: 9999;
  }
  
  .b-board_fg-1 {
    left: 0;
    top: 140px;
    width: 640px;
    height: 40px;
    background-position: 0 -140px;
  }
  .b-board_fg-2 {
    left: 20px;
    top: 180px;
    width: 40px;
    height: 510px;
    background-position: -20px -180px;
  }
  .b-board_fg-3 {
    left: 580px;
    top: 180px;
    width: 40px;
    height: 510px;
    background-position: -580px -180px;
  }
  .b-board_fg-4 {
    left: 0;
    top: 690px;
    width: 640px;
    height: 60px;
    background-position: 0 -690px;
  }
  
  .b-board {
    position: relative;
    top: 128px;
    left: 30px;
    width: 580px;
    height: 580px;
    
    .b-tile {
      position: absolute;
      margin: 1px;
      text-align: center;
      text-shadow: 0 -2px #000;
      color: #DDD;
      background: image-url("tile.png") -30px -30px no-repeat;
      width: 144px;
      height: 160px;


      p {
        font-size: 3.5em;
        line-height: 2.25em;
        font-weight: 500;
      }
    }
    .b-tile_empty {
      visibility: hidden!important;
    }
  }
  
}
