$legacy-support-for-ie: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-khtml: false;

@import "compass/reset";
@import "compass";

@include font-face("SpecialElite", font-files("SpecialElite.ttf", truetype));
@include font-face("Idol Wild", font-files("idolwild.ttf", truetype));

body {
  font-family: "Helvetica Neue", sans-serif;
  color: #FFF;
  width: 320px;
  height: 480px;
  overflow: hidden;
  // @include background-size(100%, 100%);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
}

.gameview {
  position: absolute;
  width: 400%;
  height: 400%;
  background: image-url("purty_wood.png") repeat;
  border: 1px solid #f00;
  @include transition(-webkit-transform 1s ease-in-out);
  @include transform-origin(50%, 100%);
  @include transform(translate(-35%, -35%) rotate(0deg));
}
.gameview_gameResult {
  @include transform(translate(-35%, -35%) rotate(-30deg));
}

.b-board {
  position: absolute;
  top: 50%;
  left: 35%;
  background: image-url("b-board_bg.png") no-repeat;
  width: 640px;
  height: 673px;
  @include transform(translate(0, -50%));
}
  .b-board__tiles {
    position: absolute;
    top: 22px;
    left: 30px;
    width: 100%;
    height: 100%;
  }
  .b-board__fg {
    position: absolute;
    top: 0;
    left: 0;
    background: image-url("b-board__fg.png") no-repeat;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none;
  }

.b-tile {
  $image: "b-tile.png";
  position: absolute;
  margin: 1px;
  font: 4.5em/1.95 SpecialElite;
  text-align: center;
  text-shadow: 0 2px 0 #000;
  color: rgba(255,255,255,.4);
  background: image-url($image) 0 0 no-repeat;
  width: image-width($image);
  height: image-height($image);
}
.b-tile_empty {
  visibility: hidden;
}

.gameResult {
  // display: none;
  position: absolute;
  top: 50%;
  left: 70%;
  padding: 3em;
  font: 2em "Idol Wild", serif;
  width: 320px;
  background: #FFF;
  color: #000;
  z-index: 100;
  border: 1px solid rgba(0,0,0,0.35);
  @include box-shadow(0 4px 8px rgba(0,0,0,0.35));
  @include transform(translate(0%, 0%) rotate(30deg));
}

.gameControls {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 10100;
}
