$legacy-support-for-ie: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-khtml: false;

@import "compass/reset";
@import "compass";

@import "base";
@import "game-view";
@import "game-result";
@import "game-controls";
@import "board";
@import "tile";
