/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

@import "compass/reset";



body {
  padding: 20px;
  background-color: #EFEFEF;
  font-family: "Helvetica Neue", sans-serif;
}

.b-board {
  margin: 1em 0;
  width: 321px;
  @include clearfix();
  
  .b-board_tile {
    display: inline-block;
    text-align: center;
    color: #FFF;
    width: 33%;
    height: 33%;
    border: 1px solid #000;
    border-bottom-width: 3px;
    background-color: #333;
    @include box-shadow(#999,0,2px,4px,inset);
    @include border-radius(6px);
    
    p {
      font-size: 3em;
      line-height: 2em;
    }
  }
}

#board {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 150px;
  height: 150px;
  border: 10px solid #666;
}
