/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

@import "compass/reset";



body {
  padding: 20px;
  background-color: #EFEFEF;
  font-family: "Helvetica Neue", sans-serif;
}

.b-board {
  position: relative;
  margin: 1em 0;
  width: 320px;
  height: 320px;
  background-color: #223;
/*  @include border-radius(8px);*/
/*  border: 1px solid #000;*/
  
  .b-tile {
    position: absolute;
/*    margin: 1px;*/
    text-align: center;
    color: #FFF;
    width: 65px;
    height: 65px;
/*    border: 1px solid #000;*/
/*    border-bottom-width: 3px;*/
    background-color: #333;
/*    @include box-shadow(#999,0,2px,4px,inset);*/
/*    @include border-radius(6px);*/
    @include transition(all, .25s, ease-in-out);

    
    p {
      font-size: 2em;
      line-height: 2.25em;
    }
  }
  .b-tile_empty {
    border-color: #f00;
    visibility: hidden!important;
  }
}
  
