<!DOCTYPE html>
<!-- <html manifest="fifteens.manifest"> -->
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>Fifteens</title>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    <!-- For first-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
    <!-- For iPhone 4 with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">

  	<link rel="stylesheet" href="/assets/app.css" type="text/css" />

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </head>
  <body>

    <div class="game-controls">
      <input type="button" name="new_game" value="New game" id="new_game">
      <input type="button" name="solve_game" value="Solve the game" id="solve_game">
      <p>Moves made: <span id="moves_count">0</span></p>
    </div>

    <div class="game-view">
      <div class="board">
        <div class="board__tiles"></div>
        <div class="board__fg"></div>
      </div>
      <div class="game-result"></div>
    </div>

    <script type="text/javascript" charset="utf-8" src="/assets/app.js"></script>
    <script type="text/javascript" charset="utf-8">
      // If you want to prevent dragging, uncomment this section
      document.addEventListener("touchmove", function(e){ e.preventDefault(); }, false);

      $(document).ready(function(){
        setTimeout(function() { window.scrollTo(false, 0); }, 1);
      });

      $(function(){

        window.game = new Game();
        window.gameView = new GameView({ model: game });

        $.shake({
          violence: 10.0,
          hf: 0.3,
          shakethreshold: 3,
          debounce: 100,
          callback: function() {
            if (window.confirm("Are you sure you want start a new game?")) game.newGame();
          }
        });

      });
    </script>
  </body>
</html>
